@font-face {
	font-family: 'acari-sans';
	src: url('police/acari-sans/AcariSans-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'acari-sans';
	src: url('police/acari-sans/AcariSans-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: 'acari-sans';
	src: url('police/acari-sans/AcariSans-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'acari-sans';
	src: url('police/acari-sans/AcariSans-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: bold;
}
.acari-sans {
    font-family: 'acari-sans';
}
html {
    display: flex;
    justify-content: center;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}
ul {
    margin: 0;
}
.titres {
    padding-top: 3px;
    padding-left: 5px;
    background-color: #15697D;
    color: white;
    font-family: 'acari-sans';
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;       
    letter-spacing: 1px;
}
p {
    margin: 0;
}
.txt-blue {
    color: #6495ed;
}
.bold {
    font-weight: bold;
}
.indent {
    text-indent: 2em;
}
.indent-pd {
    margin-left: 42px;
}
header, .sect-intro, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header {
    background-color: #15697D;
    height: 160px;
}
header > div {
    margin-left: 50px;
}
img {
    width: 80px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    margin-right: 30px;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    list-style-type: none;
}
header a {
    padding: 4px 5px 0;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'acari-sans';
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 3px;
    color: white;
}
header a:hover {
    background-color: white;
    color: #15697D;
    transition: all 1s ease-out;
}
header a:active {
    color: orange;
}
.sect-intro {
    margin-top: 16px;
    margin-bottom: 10px;
}
aside:first-child {
    margin-left: 20px;
}
aside:last-child {
    margin-right: 20px;
}
.sect-competences, .sect-outils, .sect-exp-pro, .sect-form-pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.sect-titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sect-titre h1 {
    letter-spacing: 2px;
}
.sect-titre p {
    margin-bottom: 10px;
    width: 90%;
}
.en-ligne {
    margin-right: 20px;
    display: flex;
    justify-content: center;
}
.sect-exp-pro, .sect-form-pro {
    margin-top: 20px;
}
.comps-et-outils {
    width: 50%;
}
.softs {
    margin: auto;
}
caption {
    margin-bottom: 16px;
}
td:first-child {
    width: 100px;
}
table tr {
    margin-bottom: 5px;
    display: flex;
}
.sect-form-pro {
    margin-bottom: 20px;
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: #15697D;
    height: 80px;
    font-size: 1.1em;
    color: white;
}
@media screen and (max-width: 960px) {
    html, body {
        min-width: 470px;
    }
    header, section:not(.sect-intro), .en-ligne {
        flex-direction: column;
    }
    header {
        height: 80px;
    }
    img {
        width: 40px;
    }
    .sect-intro aside:first-child {
        margin-bottom: 10px;
    }
    .titres, header a {
        font-size: 1em;
    }
    .sect-titre h1 {
        font-size: 1.1em;
    }
    .comps-et-outils, .softs {
        width: 95%;
    }
    footer {
        height: 40px;
    }
}
